<%- include('./header') %>
  <div class="container">
    <%- include('./navigation') %>
    <%- include('./notification') %>
    <div style="margin: 20px 0 20px 0;">
      <%- include('components/post-content') %>
    <div>
    <hr>
    <footer>
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div> <!-- /container -->
<%- include('./footer') %>
